.container__servicios {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 100px auto 100px;
    grid-template-rows: 1fr auto auto 1fr;
    grid-template-areas: "box1 box1 box1"".box2." ".box3.""box4 box4 box4";
    .box-1__servicios {
        grid-area: box1;
        background-color: #0763A6;}    
    .box-2__servicios {
        grid-area: box2;
        max-width: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        .tarjeta {
            width: 400px;
            border-radius: 6px;
            overflow: hidden;
            background: #fff;
            box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
            transition: all 400ms ease-out;
            cursor: default;
            &:hover {
                box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
                transform: translateY(-2%);}
            img {
                width: 100%;}
            }
            .tarjeta__contenido {            
                padding: 10px;
                text-align: center;            
                p {
                line-height: 1.8;
                color: black;
                font-size: 14px;
                margin-bottom: 5px;
                font-family: 'Source Sans Pro', sans-serif;}            
                h2 {
                margin-bottom: 15px;
                color: #0763A6;
                font-family: 'Source Sans Pro', sans-serif;
                }
            }
        }
    .box-3__servicios {
        grid-area: box3;
        max-width: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        .tarjeta {
            width: 400px;
            border-radius: 6px;
            overflow: hidden;
            background: #fff;
            box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
            transition: all 400ms ease-out;
            cursor: default;
            img {
                width: 100%;}            
            .tarjeta__contenido {            
                padding: 10px;
                text-align: center;            
                p {
                line-height: 1.8;
                color: black;
                font-size: 14px;
                margin-bottom: 5px;
                font-family: 'Source Sans Pro', sans-serif;}            
                h2 {
                margin-bottom: 15px;
                color: #0763A6;
                font-family: 'Source Sans Pro', sans-serif;
                }
            }
        }
    }    
    .box-4__servicios {
        grid-area: box4;
        background-color: #0763A6;}
}
@media only screen and (min-width: 768px) {
	.container__servicios{
		grid-template-columns: 50% 50%;
        grid-template-rows: 1fr 7fr 1fr;
        .box-1__servicios {
            grid-column: 1 / span 3;
            grid-row: 1 / 2;}
        .box-2__servicios {
            grid-column: 1 / 2;
            grid-row: 2 ;
            justify-content: flex-end;
            .tarjeta {
                width: 300px;}
        }
        .box-3__servicios {
            grid-column: 2 / 3;
            grid-row: 2;
            .tarjeta {
                width: 300px;}
        }
        .box-4__servicios {
            grid-column: 1 / 4;
            grid-row: 3 / span 4 ;}
        
    }        
}
@media only screen and (min-width: 1024px) {
    .container__servicios {
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr 7fr 1fr;
        .box-1__servicios {
            grid-column: 1 / span 3;
            grid-row: 1 / 2;}
        .box-2__servicios {
            grid-column: 1 / 2;
            grid-row: 2 ;
            justify-content: flex-end;
            .tarjeta {
                width: 300px;}
        }
        .box-3__servicios {
            grid-column: 2 / 3;
            grid-row: 2;
            .tarjeta {
                width: 300px; }
        .box-4__servicios {
            grid-column: 1 / 4;
            grid-row: 3 / span 4 ;}         
        }
    }
}